[submodule "BlockChain/lib/openzeppelin-contracts"]
	path = BlockChain/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "BlockChain/lib/forge-std"]
	path = BlockChain/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
